:root {
  --background-color: #f8f2ec;
  --text-color: #78829d;
  --black-color: #252f4a;
  --link-color: #00bcd4;
  --main-radius: 10px;
  --main-line-height: 1.8;
}
.files-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  margin-top: 30px;
}
@media (max-width: 767px) {
  .files-content {
    flex-direction: column;
    align-items: center;
  }
}
.files-content .all-files {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
@media (max-width: 767px) {
  .files-content .all-files {
    width: 100%;
    order: 1;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.files-content .all-files .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: var(--main-radius);
  padding: 10px;
  position: relative;
  transition: 0.3s;
}
.files-content .all-files .box:hover > img {
  transform: rotate(7deg);
}
.files-content .all-files .box:hover {
  transform: translateY(-5px);
}
.files-content .all-files .box i {
  color: var(--text-color);
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}
.files-content .all-files .box img {
  display: block;
  width: 60px;
  margin: 20px auto;
  transition: 0.3s;
}
.files-content .all-files .box p:first-of-type {
  text-align: center;
  font-size: 14px;
  color: var(--black-color);
  font-weight: 500;
  margin-bottom: 20px;
}
.files-content .all-files .box p:last-of-type {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.files-content .all-files .box div {
  padding: 10px 0 0 0;
  font-size: 12px;
  color: var(--text-color);
  font-weight: 500;
  border-top: 1px solid #eee;
  text-transform: uppercase;
}
.files-content .files-statistics {
  flex-basis: 250px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  background-color: white;
  border-radius: var(--main-radius);
  padding: 20px;
}
@media (max-width: 767px) {
  .files-content .files-statistics {
    width: 100%;
  }
}
.files-statistics h3 {
  text-transform: capitalize;
  line-height: var(--main-line-height);
}
.files-statistics .box {
  margin-top: 10px;
  gap: 10px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: var(--main-radius);
}
.files-statistics .box i {
  width: 30px;
  height: 35px;
  background-color: #00bbd44a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.files-statistics .box div {
  flex: 1;
}
.files-statistics .box div p:first-of-type {
  font-size: 14px;
  color: var(--black-color);
  font-weight: 500;
  line-height: var(--main-line-height);
}
.files-statistics .box div p:last-of-type {
  font-size: 12px;
  font-weight: 500;
}
.files-statistics .box > p {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.files-statistics > a {
  display: block;
  padding: 10px;
  background-color: var(--link-color);
  border-radius: var(--main-radius);
  margin: 15px auto 0;
  width: fit-content;
  color: white;
  font-size: 14px;
  font-weight: 500;
  transition: background-color 0.3s;
}
.files-statistics > a:hover {
  background-color: #01acc3;
}
.files-statistics > a:hover > i {
  animation: moveup 0.8s ease infinite both;
}
.files-statistics > a i {
  margin-right: 5px;
}
/********** Animations *************/
@keyframes moveup {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
